
<nav class="navbar navbar-expand-lg">
<div class="container">
    <a class="navbar-brand" href="#">
        <img src="/assets/images/logoComplejo.png" alt="Logo" width="400"  class="d-inline-block align-text-top">
      </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <a class="nav-link" href="home">Inicio</a>
        </li>
        <li class="nav-item">
        <li class="nav-item">
        <!-- <mat-icon>home</mat-icon> -->
        <a class="nav-link" href="nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="servicios">Servicios</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="productos">Productos</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="marcas">Marcas</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="contacto">Contáctenos</a>
        </li>
    </ul>
    </div>
</div>
</nav>